@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script&display=swap');

/* Reviewing CSS Syntax

selector {
  property: value;
  property: value;
}

Type Selectors:
paragraph elements --> p


*/

p {
font-size: 1em;
line-height: 1.5em;
}

figcaption {
 /* font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif; */
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right;
}

/*Class Selectors*/

.milk-text {
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

/* ID Selectors - can only apply to one unique element per page*/

#logo {
  background: aqua;
}

/*Descendant selector - select descendants within a parent element*/

#logo h1 { /*only styles h1's if they are inside an element with id="logo" */
  font-family: 'Clicker Script', cursive;
}

#logo h2 {
  font-family: 'Elsie Swash Caps', cursive;
}

/*Pseudo class selectors - select an element based on its relationship to other elements or its event state */
#details a:link { /*a:link is the pseudo selector */
  color: black;
  text-decoration: none;
}